@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #E9EBF2;
    --bg-card: #fff;
    --title: #3e3e3e;
    --text:#6d6d6d;
    --text-secondary: #fff;
    --color-secondary: #4C84FF;
    --color-terciary: #CED1E0;
    --color-point: orange;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--title);
}

p {
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--text);
}

main {
    display: grid;
    grid-template-columns: repeat(3, 195px); /* 185px */
    grid-template-rows: auto auto;
    grid-template-areas: 
    "perfil perfil none"
    "column1 column2 column3";
    justify-content: center;
    gap: 20px;
}

.images, img {
    width: 100%;
}

img {
    border-radius: 3px;
    max-height: 100%;
    object-fit: cover;
}

.card {
    background-color: var(--bg-card);
    border-radius: 12px;
    padding: 15px;
    width: 100%;
    box-shadow: 10px 25px 15px rgba(141, 141, 141, 0.208);
}

.more {
    background-color: var(--color-terciary);
    width: 100%;
    height: 100%;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more .dots,
.more .dots::before,
.more .dots::after  {
    content: ' ';
    background-color: var(--text-secondary);
    width: 3px;
    height: 3px;
    border-radius: 100%;
    position: relative;
}

.more .dots::before {
    position: absolute;
    left: -6px;
}

.more .dots::after {
    position: absolute;
    right: -6px;
}

.flex {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 7px;
    margin-bottom: 5px;
}

.card .count {
    color: var(--text-secondary);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: var(--color-secondary);
    padding: 2px 12px 1px 12px;
    border-radius: 9px;
    display: inline;
}

.perfil {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: perfil;
}

.person {
    display: flex;
    justify-content: start;
    align-items: center; 
}

.person img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    margin-right: 12px;
}

.person .text h1 {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 15px;
    color: var(--title);
    opacity: .8;
}

.person .text p {
    font-size: 1.2rem;
    font-weight: 500;
    opacity: .6;
}

.perfil button {
    color: var(--text-secondary);
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: var(--color-secondary);
    border: none;
    border-radius: 20px;
    padding: 4px 20px;
}

.column1 {
    grid-area: column1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: start;
    height: 100%;
}

.column2 {
    grid-area: column2;
}

.column3 {
    grid-area: column3;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: start;
    height: 100%;
}

.work {
    height: max-content;
    padding-left: 25px;
}

.work h2 {
    position: relative;
    margin-bottom: 10px;
}

.work h2::before {
    content: ' ';
    background-color: var(--color-point);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    /* margin-right: 7px; */
    /* margin-bottom: 3px; */
    /* display: inline-block; */
    position: absolute;
    left: -15px;
    top: 10px;
}

.work .works {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 7px;
}

.work .works .rounded-work{
    color: var(--text-secondary);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    background-color: var(--color-terciary);
    padding: 5px 17px;
    border-radius: 20px;
}

.interactive {
    grid-area: interactive;
}

.interactive .grid-1 {
    display: grid;
    grid-template-columns: repeat(2, 80px);
    grid-template-rows: 90px repeat(2, 65px);
    gap: 5px;
}

.grid-1 > img:nth-child(1) {
    grid-column: 1 / span 2;
    max-height: 100%;
    object-fit: cover;
}

.grid-1 .linha3 {
    height: 100%;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 75% 1fr;
    gap: 5px;
}

.grid-1 .linha3 img {
    max-height: 65px;
}

.web {
    grid-area: web;
    /* height: 340px; */
}

.web .grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 80px);
    grid-template-rows: 125px repeat(3, 55px);
    gap: 6px;
}

.web .grid-2 img:nth-child(1) {
    grid-column: 1 / span 2;
}

.web .grid-2 img:nth-child(2) {
    grid-row: 2 / span 4;
    height: 177px;
    object-fit: fill;
}

.font {
    grid-area: font;
    /* min-height: 160px; */
}

.font .grid-3 {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 65px 40px;
    gap: 7px;
}

.font .grid-3 img:nth-child(1) {
    grid-row: 1 / span 2;
    height: 170px;
}

.c4d {
    grid-area: c4d;
    /* min-height: 240px; */
}

.c4d .grid-4 {
    display: grid;
    grid-template-columns: repeat(2, 80px);
    grid-template-rows: 80px repeat(2, 50px);
    gap: 7px;
}

.c4d .grid-4 img:nth-child(1) {
    grid-column: 1 / span 2;
}

.c4d .grid-4 img:nth-child(2) {
    grid-row: 2 / span 3;
    height: 105px;
}